.buttons {
  margin-top: 1em;
  display: flex;
}

button {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-left: 1em;
  padding-right: 1em;

  margin-right: 1em;

  border-radius: 0.5em;
}

button#submit, button#submit-edit {
  background-color: #50bf5bCF;
}

button#submit:hover, button#submit-edit:hover {
  background-color: #50bf5b;
}

button#cancel, button#cancel-edit {
  background-color: #fa5c6eCF;
}

button#cancel:hover, button#cancel-edit:hover {
  background-color: #fa5c6e;
}

button.clear {
  padding-left: 0.5em;
  padding-right: 0.5em;
  padding-top: 0.2em;
  padding-bottom: 0.2em;

  margin: 0px;

  background-color: rgba(0,0,0,0.05);
  border-color: rgba(0,0,0,0.2);

  display: inline-flex;
}
button.clear:hover {
  background-color: rgba(0,0,0,0.1);
  border-color: rgb(0,0,0,0.3);
}

.form {
  padding-left: 0.5em;
  width: auto;
  height: auto;
}

#selection-links {
  margin-left: 1.5em;
}

#selection-links > a {
  display: block;
  margin-bottom: 0.5em;
}

div#quantity-group {
  display: flex;
  justify-content: left;
}

div#quantity-group > div {
  margin-right: 3em;
}

input[type="file"][name="picture"] {
  width: 14em;
  height: 2em;
}

label {
  margin-top: 0.5em;
  display: block;
}

.labelled {
  margin-top: 0.3em;
}

input {
  width: 20em;
  height: 1.5em;
}

input[type="number"] {
  width: 5em;
}

select {
  width: 20em;
  height: 2em;
}

html, body {
  height: 100%;
}

body {
  display: table;
  width: 100%;
  margin: 0;
}

main {
  height: 100%;
  width: auto;
  display: table-row;
}

main > #main-wrapper {
  padding-left: 16px;
}

#ncr-table {
  width: 100%;
  
}

table {
  width: 80%;
  margin: 0 auto;
  border: 1px solid black;
}
th {
  border: 1px solid black;
  padding: 4px 8px 4px 8px;
}

td {
  border: 1px solid black;
  text-align: center;
}

td > * {
  width: fit-content;
  margin: auto;
}

#back-button-wrapper {
  display: block;
  margin-left: 2em;
  padding-bottom: 2em;
}


footer {
  width: 100%;
  height: 5em;
  background-color: rgba(0,0,0,0.5);
  display: table-row;
}

footer > div#footer-wrapper {
  width: fit-content;
  margin: auto;
}

header {
  display: flex;
  justify-content: left; 
}
header > a {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 2em;
}

img#header-logo {
  width: 5em;
  height: 5em;
  padding: 8px;
}

h2 {
  font-weight: 300;
  font-size: 14pt;
  color: red;
}

p.required {
  color: red;
  display: inline;
  margin-left: 0.1em;
}

#cb-overwrite-photo {
  width: 2em;
  display: inline;
}

#picture-group {
  display: flex;
  flex-direction: row;
}
#cb-wrapper {
  margin-top: 1.5em;
}
#cb-overwrite-photo + label {
  display: inline;
}

/* Toast */
#toast-container{
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 1000;
}
.toast-show{
  opacity: 1;
}
.toast{
  position: fixed;
  top: 20px;
  right: 20px;
  max-width: 250px;
  background: #fff;
  padding: 0.5rem;
  border-radius: 4px;
  z-index: 1001;
  animation: slideInRight 0.3s ease-in-out forwards, 
    fadeOut 0.5s ease-in-out forwards 3s;
    transform: translateX(110%);
}

.toast.closing{
  animation: slideOutRight 0.5s ease-in-out forwards;
}

.toast-icon {
  padding: 0.35rem 0.5rem;
  font-size: 1.5rem;
}

.toast-progress{
  position: absolute;
  display: block;
  bottom: 0;
  left: 0;
  height: 4px;
  width: 100%;
  background: #b6b6b6;
  animation: toastProgress 5s ease-in-out forwards;
}

.toast-message{
  flex: 1;
  font-size: 0.9rem;
  color: #000;
  padding: 0.5rem;
}
.toast-content-wrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.toast.toast-success{
  background: #8cfa97;
}
.toast.toast-success .toast-progress{
  background-color: #01b713;
}

.toast.toast-danger{
  background: #f85a5a;
}
.toast.toast-danger .toast-progress{
  background-color: #fa1e1e;
}

/* Key frames for toast notifactions */
@keyframes slideInRight{
  0% {transform: translateX(110%);}
  75% {transform: translateX(-10%);}
  100% {transform: translateX(0%);}
}

@keyframes slideOutRight {
  0% {transform: translateX(0%);}
  25% {transform: translateX(-10%);}
  100% {transform: translateX(110%);}
}

@keyframes fadeOut{
  0% {opacity: 1;}
  100% {opacity: 0;}
}

@keyframes toastProgress {
  0% { width: 100%;}
  100% { width: 0%;}
}